sklearn_pandas>=1.8.0
matplotlib>=3.2.1
seaborn>=0.9.0
pandas>=1.0.3
tqdm>=4.31.1
mendeleev>=0.6.0
scipy>=1.1.0
numpy>=1.18.4
pytest>=6.0.1
scikit_learn>=0.23.2
Keras==2.0.8
tensorflow==1.14.0
pymatgen>=2020.4.2
